<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body
    style="background-color: #263135; display: flex; justify-content: center; flex-direction: column; align-items: center;">

{{#each releases}}
{{#if @first}}

    <img src="./banner.png" alt="" height="100px">
    <div
        style="background-color: beige; width: 80%; border-radius: 2rem; padding: 2rem; justify-content: center; align-items: center; text-align: center; text-transform: uppercase; ">
        <div style="font-size: 1.2rem; font-weight: bold;">Signal Strengh V{{title}}</div> <br />
        <div style="text-transform: capitalize;"> Internal release !</div>
    </div>
    <br />
    <div style="background-color: beige; width: 80%; border-radius: 2rem; min-height: 10rem; padding: 2rem;">
        <p>Hello There !</p><br />
        <p>The new version {{title}} of Signal Strengh is available</p><br /><br />

         <a style="background-color: #263135; border-radius: .5rem; padding: 1rem; display: flex; justify-content: center; align-items: center; color: white !important; outline: none; text-decoration: none;" href="https://play.google.com/apps/internaltest/4701726206373274430">Download It Now</a><br /><br />

        <p>Release Note :</p><br/>
        <div style="background-color: rgba(0,0,0,0.5); border-radius: .5rem; padding: 1rem; font-size: 0.75em;">
          {{niceDate}}<br/><br/>
            {{#each commits}}
            <p>
               - {{#if breaking}}**Breaking change:** {{/if}}{{subject}}{{#if href}}{{/if}}
           </p>
            {{/each}}
            
        </div>
    </div>

{{/if}}
{{/each}}

</body>

<style>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Courier New', Courier, monospace;
    }
</style>

</html>

